* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body{
    font-family: "Microsoft Yahei","arial","Tahoma","SimSun";
    font-size: 14px;
    color: #333;
    margin: 0;
/*     background-color: #eaeceb; */
    background: url(imgs/repeat_bg.jpg) repeat;
}
a {
    color: #333;
    text-decoration: none;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.nbar ul{
	width:980px;
	margin: 0 auto;
	padding:0;
    list-style-type: none;
}
.nbar ul li{
	padding: 12px 27px;
    text-align: center;
    float: left;
}
.nbar ul li:HOVER{
	background-color: #2459A5;
}
.nbar ul li > a{
    font-size: 18px;
    color: white;
    text-decoration:none;
}
.clearfix {
  overflow: auto;
}
.clearleft{
	clear: left;
}

.main{
	margin:0 auto;
	width:980px;
}
.notice{
	margin-top: 5px;
    padding: 20px 15px;
    background-color: white;
    height: 59px;
    overflow: hidden;
    position: relative;
}
.notice ul#pp-around{
	position: absolute;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    top:4px;
    transition-duration: 300ms;
}
.notice ul#pp-around > li{
	line-height: 59px;
}
.notice .search{
	float:right;
}
.notice .search .search-input{
	border-radius: 3px 0 0 3px;
    border: 1px solid #bbb;
    height: 28px;
}
.notice .search .search-button{
	background-color: #2856a3;
	color:white;
    height: 28px;
    padding: 0 10px;
    display: inline-block;
    line-height: 26px;
    border-radius: 0 3px 3px 0;
}

.news{
	margin-top: 5px;
}
.news .img-news{
	position: relative;
    width: 560px;
    height: 285px;
    overflow:hidden;
    background-color: white;
    padding: 5px;
    float:left;
}
.news .text-news{
	width: 415px;
	height: 285px;
    overflow:hidden;
    margin-left: 565px;
    background-color: white;
    padding: 5px;
}
.news .text-news .head{
	padding:5px;
	border-bottom: 2px solid #2856a3;
}
.news .text-news .title{
	font-size:24px;
	color:#b53323;
}
.news .text-news ul{
	list-style-type: disc;
}
.news .text-news ul > li{
	height: 34px;
    font-size: 18px;
}
.info{
	margin-top: 5px;
	padding: 5px;
	background-color: white;
	border-bottom: 1px solid #47a6db;
}
.info .content{
	width:650px;
	float:left;
}
.info .content .head .title{
    font-size: 22px;
    margin-left: 70px;
    color: #b53323;
}
.info .content ul{
	list-style-type: square;
}
.info .content ul > li:FIRST-CHILD{
    font-weight: bold;
    list-style-type:none;
    height:43px;
}
.info .content ul > li{
    height: 34px;
    font-size: 18px;
}
.info .side{
	width:300px;
	float:right;
}
.info .side .jb{
	color:#bbb;
	line-height: 28px;
}
.tzgg{
	border-radius: 5px;
	background-color: #e22a28;
    font-size: 14px;
    font-weight: bold;
    text-indent: 28px;
    line-height: 30px;
    color: #FFFFFF;
}
.tzgg .con{
	margin: -8px 5px 0 5px;
	border-radius: 5px;
	background-color: white;
    font-size: 14px;
    text-indent: 28px;
    line-height: 30px;
}
.tzgg .con ul{
	margin:5px;
	padding:5px;
	list-style-type: none;
}
.tzgg .con ul > li{
	font-weight:normal;
	color: #333;	
}
.pgt{
	width:300px;
	height: 290px;
	background-image: url("imgs/pgt.jpg");
}
.pgt-bottom{
	height: 27px;
    background-color: #e1e1e1;
    margin: -4px 0px 0 6px;
    border: 1px solid #b5b5b5;
    border-top-width: 0;
}
.ztzn{
	margin-top:10px;
	width:300px;
	height:200px;
	background-image: url("imgs/ztzn.jpg");
}

.line{
	margin: 20px;
	border-bottom: 1px solid #eee;
}

.yqlj{
	background-color: white;
}
.yqlj ul{
list-style: none;
}
.yqlj .ljTit li {
    height: 56px;
    line-height: 56px;
    font-size: 16px;
    padding: 0 15px;
    float: left;
    cursor: pointer;
}
.yqlj .ljTit .active {
    color: #de6630;
    border-bottom: 5px solid #47a6db;
    transition: color 0.3s;
}
.yqlj .ljLink {
    margin: 20px 0 20px 20px;
    display: none;
    height: 180px;
}
.yqlj .linkshow {
    display: block;
}
.yqlj .ljLink li {
    margin: 0px 15px 0px 5px;
    height: 28px;
    line-height: 28px;
    float: left;
    overflow: hidden;
}
.footer {
    text-align: center;
    color: #888;
    padding: 35px 0 0 0;
}

.white{
	background-color: #fff;
}
.listL {
    float: left;
    width: 229px;
    margin-top:35px;
}
.listNav {
    margin: 0 20px 0 10px;
    list-style: none;
    padding-left:12px;
}
.listNav li {
    height: 49px;
    line-height: 49px;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
.listNav li a {
    display: block;
    height: 49px;
    font-size: 20px;
    color: #005f92;
    text-decoration: none;
}
.listNav li a:hover {
    color: #005f92;
    font-weight: 700;
}

.listR {
    float: right;
    width: 749px;
    border-left: 1px solid #dedede;
    margin: 30px 0 10px;
}
.listTit {
    padding: 5px 0 5px 35px;
    font-size: 24px;
    font-weight: 700;
    color: #005f92;
    margin:0;
}
.listUl {
    padding: 0 10px 0 35px;
    margin-bottom: 30px;
    min-height: 550px;
    height: 100%;
    _height: 605px;
    list-style: none;
}
.listUl li {
    height: 54px;
    line-height: 54px;
    vertical-align: middle;
    overflow: hidden;
    font-size: 18px;
}
.listUl li i {
    float: left;
    width: 4px;
    height: 4px;
    margin-top: 26px;
    _margin-top: 25px;
    margin-right: 10px;
    background: #828282;
    overflow: hidden;
}
.nextPage {
    margin-bottom: 30px;
    text-align: center;
}
.details {
    padding: 10px 60px;
}
.crumb {
    height: 47px;
    line-height: 47px;
    vertical-align: middle;
}
.artTitle {
	font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.details .info {
    font-size: 12px;
    color: #666;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    text-align: center;
}
.artCon {
    padding-top: 20px;
}
.artCon p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
}